h1, p {
  font-family: Lato;
}
li{
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  background-color: azure;
  padding: 5px;
}
body{
  background-color: cornsilk;
}
iframe{
  height: 400px;
  width: 900px;
  float: left; 
  margin-left:25px;
}
